<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<div style="
  margin-top: 150px;
  /* margin: auto; */
  width: 100%;
  padding: 10px;">
    <section class="vh-50">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form>


                        <div class="form-outline mb-4">
                            <label class="form-label" for="login">Usuário</label>
                            <input type="text" id="login" class="form-control form-control-lg" placeholder="Digite seu usuario" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="password">Senha</label>

                            <input type="password" id="password" class="form-control form-control-lg" placeholder="Digite sua senha" />
                        </div>

                        <div class="form-outline mb-3">
                            <label class="form-label" for="tipoUsuario">TipoUsuario</label>
                            <select name="tipoUsuario" id="tipoUsuario" class="form-control form-control-lg">
                                <option disabled selected>Escolha uma opção</option>
                                <option value="AGENTE">Agente</option>
                                <option value="CLIENTE">Cliente</option>
                            </select>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button onclick="handleClick()" type="button" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Não tem uma conta? <a href="/register" class="link-danger">Register</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Copyright © 2020. All rights reserved.
            </div>
        </div>
    </section>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    function handleClick() {
      event.preventDefault();
      const login = document.getElementById("login").value;
      const tipoUsuario = document.getElementById("tipoUsuario").value;
      const password = document.getElementById("password").value;

      if (!login || !password) {
        alert("Por favor, preencha todos os campos.");
        return;
      }

      const formData = {
        login: login,
        password: password,
      };

      fetch('/auth/login', {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
      }).then((response) => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error("Login falhou, verifique seus dados");
        }
      }).then((data) => {
        const token = data.token; // Supondo que o token esteja em uma propriedade chamada 'token'
        console.log(token)

        // Salvar o token no localStorage
        document.cookie = `authtoken=${token}`;

        localStorage.setItem("login", login);

        if (tipoUsuario === "AGENTE") {
          window.location.href = '/agente';
        } else {
          window.location.href = '/';
        }
      }).catch((error) => {
        alert(error.message);
        console.error("Erro ao fazer login:", error);
      });
    }
  </script>


</body>

</html>