<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<div style="
  margin-top: 150px;
  /* margin: auto; */
  width: 100%;
  padding: 10px;">
    <section class="vh-50">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form>
                        <div class="form-outline mb-3">
                            <label class="form-label" for="tipoUsuario">Tipo de Usuario</label>
                            <select name="tipoUsuario" id="tipoUsuario" class="form-control form-control-lg">
                                <option disabled selected>Selecione seu tipo de usuario</option>
                                <option value="AGENTE">Agente</option>
                                <option value="USER">Cliente</option>
                            </select>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="login">Usuário</label>
                            <input type="text" id="login" class="form-control form-control-lg" placeholder="Digite seu usuario" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="password">Senha</label>

                            <input type="password" id="password" class="form-control form-control-lg" placeholder="Digite sua senha" />
                        </div>

                        <div class="form-outline mb-2">
                            <label class="form-label" for="nome">Nome</label>
                            <input type="text" id="nome" class="form-control form-control-lg" placeholder="Digite seu usuario" />
                        </div>

                        <div id="agenteContainer" style="display: none;">
                            <label for="tipoAgente">Escolha o tipo de Agente:</label>
                            <select id="tipoAgente" class="form-control form-control-lg">
                                <option value="BANCO">Banco</option>
                                <option value="EMPRESA">Empresa</option>
                            </select>
                        </div>

                        <div class="form-outline mb-4" id="clienteContainer" style="display: none;">
                            <div class="form-outline mb-3">
                                <label class="form-label" for="cpf">CPF</label>
                                <input type="text" id="cpf" class="form-control form-control-lg" placeholder="Digite seu usuario">
                                <label class="form-label" for="rg">RG</label>
                                <input type="text" id="rg" class="form-control form-control-lg" placeholder="Digite seu usuario">
                                <label class="form-label" for="endereco">Endereço</label>
                                <input type="text" id="endereco" class="form-control form-control-lg" placeholder="Digite seu usuario">
                            </div>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button onclick="handleClick()" type="button" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrar</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Já possui uma conta? <a href="/login" class="link-danger">Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    function handleTipoUsuarioChange() {
      const tipoUsuario = document.getElementById("tipoUsuario").value;
      const agenteContainer = document.getElementById("agenteContainer");
      const clienteContainer = document.getElementById("clienteContainer");
      console.log(tipoUsuario)
      agenteContainer.style.display = "none";
      clienteContainer.style.display = "none";

      if (tipoUsuario === "AGENTE") {
        agenteContainer.style.display = "block";
      } else if (tipoUsuario === "USER") {
        clienteContainer.style.display = "block";
      }
    }
    const tipoUsuarioSelect = document.getElementById("tipoUsuario");
    tipoUsuarioSelect.addEventListener("change", handleTipoUsuarioChange);
  </script>
<script>
    function handleClick() {
      event.preventDefault();
      let formData;
      const login = document.getElementById("login").value;
      const tipoUsuario = document.getElementById("tipoUsuario").value;
      const password = document.getElementById("password").value;
      const nome = document.getElementById("nome").value;

      if (tipoUsuario === "AGENTE") {
        if (!login || !password || !nome) {
          alert("Por favor, preencha todos os campos.");
          return;
        }
        const tipoAgente = document.getElementById("tipoAgente").value
         formData = {
          login: login,
          password: password,
          nome: nome,
          role: tipoUsuario,
          agente: tipoAgente
        }; console.log(formData)
      } else {
        const registroGeral = document.getElementById("rg").value
        const cpf = document.getElementById("cpf").value
        const endereco = document.getElementById("endereco").value
        if (!login || !password || !nome || !registroGeral || !cpf || !endereco) {
          alert("Por favor, preencha todos os campos.");
          return;
        }
         formData = {
          login: login,
          password: password,
          nome: nome,
          role: tipoUsuario,
          registroGeral: registroGeral,
          cpf: cpf,
          endereco: endereco
        };console.log(formData)
      }
      fetch('/auth/register', {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
      }).then((response) => {
        if (response.ok) {
        alert("Cadastrado com sucesso!")
          window.location = '/login'
          return response.json();
        } else {
          alert("Login falhou, verifique seus dados");
        }
      })
    }

  </script>


</body>

</html>