<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Pedidos</title>
</head>

<body>
<nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cliente</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <div class="ms-auto p-2"> <button id="userInfo" class="btn btn-primary" onclick="verPerfil()">Ver Perfil</button></div>
            <div class="ms-auto p-2"> <button id="logout" class="btn btn-primary" onclick="logout()">Logout</button></div>
        </div>
    </div>
</nav>
<h1>Seja bem vindo <span id="nomeUsuario"></span></h1>
<input type="hidden" id="idUsuario">
<table id="table" class="table table-hover">
    <tbody id="pedidos"></tbody>
</table>
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" id="loading">
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script>
    function hideLoader() {
      document.getElementById("loading").style.display = "none";
    }

    function logout() {
      document.cookie = "authtoken=;";
      window.location.href = "/login";

    }

    function parseJwt(token) {
      var base64Url = token.split('.')[1];
      var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function (c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));
      return JSON.parse(jsonPayload);
    }

    window.addEventListener('load', function () {
      const tokenCookie = document.cookie

      if (tokenCookie) {
        const decodedToken = parseJwt(tokenCookie);

        // Agora você pode acessar os claims do token
        const nomeUsuario = decodedToken.nome;
        const idUsuario = decodedToken.id;
        const idhtml = document.getElementById("idUsuario").value = idUsuario
        const nomehtml = document.getElementById("nomeUsuario").innerText = nomeUsuario


      }
    });


    async function show(data) {
      const idUsuario = localStorage.getItem("idUsuario").trim()
      let tab = `<thead>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Ano</th>
      <th scope="col">Diaria</th>
      <th scope="col">Tipo Agente</th>
      <th scope="col">Nome cliente</th>
      <th scope="col">Status Aluguel</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Placa Automovel</th>
      <th scope="col">Delete</th>
      <th scope="col">Editar</th>
  </thead>`;

      for (let i = 0; i < data.pedidos.length; i++) {
      if(idUsuario === data.pedidos[i].contratante){

        tab += `
        <tr>
          <td scope="row">${data.pedidos[i].id}</td>
          <td>${data.automoveis[i].marca}</td>
          <td>${data.automoveis[i].modelo}</td>
          <td>${data.automoveis[i].ano}</td>
          <td>${data.automoveis[i].diaria}</td>
          <td>${data.agentes[i]}</td>
          <td>${data.clientes[i]}</td>
          <td>${data.pedidos[i].status}</td>
          <td>${data.agentes[i]}</td>
          <td>${data.automoveis[i].placa}</td>
          <td><button class="btn btn-danger" id="${data.pedidos[i].id}" onclick="deletePedido(${data.pedidos[i].id})">Delete</button>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal">
              Editar
            </button>
          </td>
        </tr>
      `;

        }
      }

      document.getElementById("pedidos").innerHTML = tab;
    }


    async function getAPI(url) {
      const response = await fetch(url, { method: "GET" });
      const data = await response.json();

      if (response.ok) {
        hideLoader();
        show(data);
        console.log(data)
      } else {
        console.error("Erro ao buscar dados da API.");
      }
    }

    getAPI("http://localhost:8080/cliente/verpedidosSeparadas")


    function verPerfil() {
      window.location.href = "/cliente/perfil"
    }


    function deletePedido(id){
  fetch(`/cliente/pedidos/${id}`, {
    method: "DELETE",
  })
    .then((response) => {
      if (!response.ok) {
        throw new Error("Erro na solicitação.");
      }
      alert("Profissão excluída com sucesso");
    })
    .catch((error) => {
      console.error("Erro ao excluir profissão:", error);
    });
}

  </script>

</body>

</html>